*,
html {
  left: 0;
  top: 0;
}

body {
  top: 0;
  left: 0;
  text-align: center;
}

.main-rockin-roller-4 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: minmax(250px, auto);
}

.main-rockin-roller-4 > :nth-child(1) {
  max-width: 500px;
}

.main-download-user-buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 6em;
  background-color: #e0e0e0;
}

.main-monster-zone-controller-container {
  background-color: rgb(206, 42, 42);
}

.main-monster-zone-buttons-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.left-column {
  background-color: rgb(180, 180, 180);
}

.right-column {
  background-color: rgb(131, 131, 131);
}

#main-image {
  /* max-width: 700px; */
}

.main-top-features,
.main-bottom-features {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

/* !!!!!!!!!!!!!!!!!!!!    buttons styling    !!!!!!!!!!!!!!!!!!!!!!!!!!! */

#button-1 {
  background-color: #2969b0;
  border-color: #2969b0;
  color: #ffffff;
  border-radius: 1.6em;
  padding: 0.75rem 2rem;
  font-weight: 500;
  letter-spacing: 2px;
}
