*,
html {
  margin: 0;
  left: 0;
  top: 0;
}

body {
  text-align: center;
}

video {
  width: 100%;
}

a {
  text-decoration: none !important;
  color: #eeeae1;
}

.header {
  background-color: black;
  max-height: 10vh;
  color: aliceblue;
  text-decoration-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.nav-bar {
  color: aliceblue;
  display: flex;
  margin: auto 0;
  justify-content: space-around;
}

.video-slider {
  background-color: black;
}

.parallax-strip {
  background-color: black;
  color: whitesmoke;
  text-align: center;
  padding: 2em;
}

.products-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.subscribe-container {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-color: rgb(141, 141, 141);
}

.footer {
  background-color: black;
  color: whitesmoke;
  text-align: center;
  padding: 1em;
}

/* more specific containers styling */

.header-logo {
  padding: 1em;
  margin: 0 auto;
}

.product {
  margin: 2em auto;
  padding-top: 2em;
  padding-bottom: 2em;
}

#product-image {
  max-width: 250px;
  max-height: 150px;
}

.product-display-name {
  font-size: 2rem;
  font-weight: 600;
  margin: 0.5em;
}

#monster-logo {
  max-width: 250px;
}

/* buttons styling */

#button-1 {
  background-color: #2969b0;
  border-color: #2969b0;
  color: #ffffff;
  border-radius: 1.6em;
  padding: 0.75rem 2rem;
  font-weight: 500;
  letter-spacing: 2px;
}
