*,
html {
  left: 0;
  top: 0;
}

body {
  top: 0;
  left: 0;
}

.main-rockin-roller-4 {
  display: grid;
  grid-template-columns: 50% 50%;
}

.left-column {
  background-color: rgb(180, 180, 180);
}

.right-column {
  background-color: rgb(131, 131, 131);
  text-align: center;
}

#main-image {
  /*   */
}

.main-top-features,
.main-bottom-features {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

/* !!!!!!!!!!!!!!!!!!!!    buttons styling    !!!!!!!!!!!!!!!!!!!!!!!!!!! */

#button-1 {
  background-color: #2969b0;
  border-color: #2969b0;
  color: #ffffff;
  border-radius: 1.6em;
  padding: 0.75rem 2rem;
  font-weight: 500;
  letter-spacing: 2px;
}
